<.form let={f} for={@changeset} action={@action}>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>¡Oops, algo falló! Por favor, revisa estos errores</p>
    </div>
  <% end %>

  <%= label f, :start_at %>
  <%= datetime_select f, :start_at %>
  <%= error_tag f, :start_at %>

  <%= label f, :end_at %>
  <%= datetime_select f, :end_at %>
  <%= error_tag f, :end_at %>

  <div>
    <%= submit "Save" %>
  </div>
</.form>
